<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
    <div class="container">
        <label id=locLabel>Enter Location</label>
        <div id="locationInput" class="input-group-lg center-block helloInput">
            <input id="location" type="text" placeholder="Enter Zipcode or City and State" value="36832" />
        </div>
				<label id="dateLabel">Enter Date (Optional)</label>
				<div id="dateContainer" class="input-group-lg center-block">
					<input type="date" id="dateInput" />
				</div>
				<label id="timeLabel">Enter Time (Optional)</label>
				<div id="timeContainer" class="input-group-lg center-block">
					<input type="time" id="timeInput" />
				</div>
				<div id="submitContainer" class="input-group-lg center-block">
					<input type="submit" id="submit" name="submit" value="Submit" />
				</div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/antixss.js" type="text/javascript"></script>

    <script>
    	//Submit data when enter key is pressed
        $('#submit').click(function() {
			console.log("I DID IT");
						var datetime = new Date();
						console.log(datetime);
            var name = $('#location').val();
            var date = $('#dateInput').val();
						console.log(date);
						var time = $('#timeInput').val();
						console.log(time);
            if (name.length > 0) { //catch Enter key
                //POST request to API to create a new visitor entry in the database
                if (date != null && date.trim().length > 0){
									var dateSplit = date.split("-");
									datetime.setFullYear(parseInt(dateSplit[0]));
									datetime.setMonth(parseInt(dateSplit[1]));
									datetime.setMonth(parseInt(dateSplit[2]));
								}
						if (time != null && time.trim().length > 0) {
							var timeSplit = time.split(":");
							datetime.setHours(parseInt(timeSplit[0]));
							datetime.setMinutes(parseInt(timeSplit[1]));
							datetime.setSeconds(0);
							datetime.setMilliseconds(0);
						}
                console.log(datetime)
                $.ajax({
				    method: "POST",
				    url: "./api",
				    contentType: "application/json",
				    data: JSON.stringify({name: name, datetime: datetime})
				    })
                    .done(function(json) {
                        render(json);
                });
            }
        });
        
        function render(json){
            data = JSON.parse(json); 
            var d = new Date(parseFloat(AntiXSS.sanitizeInput(data.time)*1000)); // The 0 there is the key, which sets the date to the epoch
            $('#time').html(d);
            $('#temp').html(AntiXSS.sanitizeInput(data.temperature) + '&deg;F');
            $('#humidity').html(parseFloat(AntiXSS.sanitizeInput(data.humidity)) * 100 + '% Hum');
            var precip = AntiXSS.sanitizeInput(data.precipType); 
            if (precip == 'undefined') precip = 'precipitation'; 
            $('#precip').html(parseFloat(AntiXSS.sanitizeInput(data.precipProbability)) * 100 + '% Chance of ' + precip);
			$('#apparentTemp').html('Feels like ' + AntiXSS.sanitizeInput(data.apparentTemperature) + '&deg;F');
            $('#locationInput').hide();
            $('#dateInput').hide();
            $('#dateLabel').hide();
            $('#locLabel').hide();
        }
    </script>
		<div class="container map-container">
			<script src='https://darksky.net/map-embed/@temperature,39.000,-95.000,4.js?embed=true&timeControl=false&fieldControl=false&defaultField=temperature&defaultUnits=_c'></script>
			<p id="temp">40&deg;F</p>
            <p id="humidity">50% Hum.</p>
            <p id="precip">22% Chance of Rain</p>
			<p id="apparentTemp">Feels like 40&deg;F</p>
			<p id="windSpeed">10 MPH</p>
			<p id="windBearing">180</p>
			<p id="cloudCover">10% Cover</p>
			<p id="visibility">50% Visibility</p>
			<p id="time">3:00 PM</p>
			<p id="summary">Cloudy</p>
		</div>
</body>

</html>
