<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
    <div class="container">
        <label id=locLabel>Enter Location</label>
        <div id="locationInput" class="input-group-lg center-block helloInput">
            <input id="location" type="text" placeholder="Enter Zipcode or City and State" value="" />
        </div>

        <label id=dateLabel>Enter Date (Optional)</label>
        <div id="dateInput" class="input-group-lg center-block helloInput">
            <input id="date" type="text" placeholder="YYYY-MM-DD" value="" />
        </div>
				<div id="submitInput" class="input-group-lg center-block">
					<input type="submit" id="submit" name="submit" value="Submit" />
				</div>
        <p id="response" class="lead text-center"></p>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/antixss.js" type="text/javascript"></script>

    <script>
    	//Submit data when enter key is pressed
        $('#submit').click(function() {
						console.log("I DID IT");
            var name = $('#location').val();
            var date = $('#date').val();
            if (name.length > 0) { //catch Enter key
                //POST request to API to create a new visitor entry in the database
                if (date.length > 0){
                    $.ajax({
				     method: "POST",
				    url: "./api",
				    contentType: "application/json",
				    data: JSON.stringify({name: name, date: date})
				    })
                    .done(function(json) {
                        data = JSON.parse(json); 
                        $('#temp').html(AntiXSS.sanitizeInput(data.currently.temperature) + '&deg;F');
                        $('#humidity').html(parseFloat(AntiXSS.sanitizeInput(data.currently.humidity)) * 100 + '% Hum');
                        $('#precip').html(parseFloat(AntiXSS.sanitizeInput(data.currently.precipProbability)) * 100 + '% Chance of ' + AntiXSS.sanitizeInput(data.currently.precipType));
												$('#apparentTemp').html('Feels like ' + AntiXSS.sanitizeInput(data.currently.apparentTemperature) + '&deg;F');
                        $('#locationInput').hide();
                        $('#dateInput').hide();
                        $('#dateLabel').hide();
                        $('#locLabel').hide();
                    });
                }
                else {
                    $.ajax({
				     method: "POST",
				    url: "./api",
				    contentType: "application/json",
				    data: JSON.stringify({name: name})
				    })
                    .done(function(json) {
                        data = JSON.parse(json); 
                        $('#temp').html(AntiXSS.sanitizeInput(data.currently.temperature) + '&deg;F');
                        $('#humidity').html(parseFloat(AntiXSS.sanitizeInput(data.currently.humidity)) * 100 + '% Hum');
                        $('#precip').html(parseFloat(AntiXSS.sanitizeInput(data.currently.precipProbability)) * 100 + '% Chance of ' + AntiXSS.sanitizeInput(data.currently.precipType));
												$('#apparentTemp').html('Feels like ' + AntiXSS.sanitizeInput(data.currently.apparentTemperature) + '&deg;F');
                        $('#locationInput').hide();
                        $('#dateInput').hide();
                        $('#dateLabel').hide();
                        $('#locLabel').hide();
                    });
                }
            }
        });

    </script>
		<div class="container map-container">
			<script src='https://darksky.net/map-embed/@temperature,39.000,-95.000,4.js?embed=true&timeControl=false&fieldControl=false&defaultField=temperature&defaultUnits=_c'></script>
			<p id="temp">40&deg;F</p>
      <p id="humidity">50% Hum.</p>
      <p id="precip">22% Chance of Rain</p>
			<p id="apparentTemp">Feels like 40&deg;F</p>
			<p id="windSpeed">10 MPH</p>
			<p id="windBearing">180</p>
			<p id="cloudCover">10% Cover</p>
			<p id="visibility">50% Visibility</p>
			<p id="time">3:00 PM</p>
			<p id="summary">Cloudy</p>
		</div>
</body>

</html>
